.work-order-container {
  font-family: Arial, sans-serif;
  padding: 41px;
  padding-top: 35px;
}

.work-order-header>h1 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 40px;
}

.work-order-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-order-top-part {
  background: #e3e3e38c;
  padding: 17px;
  border-radius: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 45px;
}

.work-order-details {
  width: 95%;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 50px;
}

.work-order-details>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.form-group {
  margin-bottom: 10px;
}

.general-form-group>input,
.general-form-group>textarea {
  width: 332px !important;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

/* Right Half */
.general-page-right-half {
  width: 45%;
}

.work-order-status {
  background: #0a2004;
  background-image: linear-gradient(117deg, #1aa26f, #00b36c);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 25px #3cff0009;
  color: #ffffff;
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 48px 27px;
}

.status-check {
  display: flex;
  gap: 15px;
}

.status-check-with-checkbox {
  width: 55%;
  justify-content: space-between;
}

.status-check>h2 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 500;
}

.status-check>label {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 500;
}

.status-check>input {
  width: 25px !important;
  padding: 0 !important;
  margin: 0;
}

.date-info {
  margin: 0;
  background: white;
  height: 45px;
  border-radius: 5px;
  padding: 0 20px;
  display: grid;
  align-items: center;
  margin-top: 16px;
}

.date-info>p {
  margin: 0;
  padding: 0;
  font-weight: 500;
  color: #000;
}

.image-section {
  width: 100%;
  margin-top: 81px;
}

.imageBG {
  height: 100px;
  background: #d0d0d0;
  display: grid;
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: 100%;
  border-radius: 8px;
}

.check-in-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.work-order-items {
  width: 100%;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

.work-order-items tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}