.container {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.card {
  background-color: #6dcde5;
  color: white;
  border-radius: 10px;
  width: 120px;
  padding: 15px;
  text-align: center;
}

.card:nth-child(2) {
  background-color: #3b9fbd;
}

.card:nth-child(3) {
  background-color: #0c2b44;
}

.card:nth-child(4) {
  background-color: #f7b21b;
}

.card:nth-child(5) {
  background-color: #f57b24;
}

h2 {
  font-size: 24px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.total {
  margin-top: 20px;
  font-size: 24px;
  color: #333;
}