.invoice-container {
  padding: 30px 40px;
}
.invoice-container > h1 {
  font-size: 50px;
}

.payment-invoice-container > div{
  background: #f6f6f6a3;
  padding: 30px;
  border-radius: 10px;
}

h1 {
  text-align: left;
}

.invoice-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.invoice-header div {
  padding: 5px;
}

.invoice-type {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.invoice-table th,
.invoice-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.invoice-table select,
.invoice-table input[type="number"],
.invoice-table input[type="text"] {
  width: 100%;
  padding: 5px;
}

.add-line {
  margin: 20px 0;
}

.add-line button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ddd;
  border: none;
}

.client-invoice-footer {
  display: flex;
  justify-content: space-between;
}

.invoice-footer {
  justify-content: space-between;
  margin-top: 20px;
}

.invoice-footer div {
  padding: 10px;
}

.reference {
  margin-top: 20px;
}

.reference label,
.invoice-footer label {
  margin-right: 10px;
  font-weight: bold;
}

.action-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.action-buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #ddd;
  border: none;
}

.action-buttons button:hover {
  background-color: #ccc;
}